body {
   background-image: url(background.gif);
   background-repeat: no-repeat;
   background-attachment: fixed;
   background-size: 100% 100%;
   font-family: Arial, sans-serif;
   margin: 20px;

}
.container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    
    filter: blur() ;
}
input[type="text"], input[type="tel"] {
    width: 380px;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
button {
    padding: 10px 20px;
    background-color: #0b0bf0;
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}
th, td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: left;
   color: white;
}
th {
    background-color: #383be9;
    color: white;
}
